main {
    display: flex;
    flex-direction: column;
}

main #title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8.5rem 4rem 0rem 4rem;
    width: 25rem;
}

main #title #line {
    background: #FF003D;
    height: 5px;
    width: 2rem;
    margin-right: .6rem;
    margin-bottom: .3rem;
}

#portfolio{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
}


#portfolio .container-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    width: 100%;
}

#portfolio .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid red;
    width: 80%;
    padding: 1rem;
    margin-top: 2rem;
}

#portfolio .cards .card-info {
    width: 55rem;
    margin: 1rem;
}

#portfolio .cards .card-info li {
    list-style-type: disc;
}

#portfolio .cards .card-info li::marker {
    color: #FF003D;
}


#portfolio .cards .empresa{
    color: #FF003D;
}

#portfolio .cards a{
    text-decoration: none;
    color: #fff;
}

#portfolio .cards a:hover{
    color: #FF003D;
}

#portfolio .cards div img {
    border-radius: 1rem;
    width: 100%;
}

/* #portfolio .cards div img:hover {
    opacity: .8;
} */